
/*estilização de todos os body*/
body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(226, 255, 245);
    text-decoration: none;
}


/*estilização exclusiva dos botões seletores que estão em todas as paginas*/
.botoes-seletores {
    display: inline-block;
    width: 180px;
    text-align: center;
    border: solid;
    margin: 20px;
    padding: 10px;
    background-color: rgb(88, 214, 166);
    text-decoration: none;
    border-radius: 50px;
    border-color: rgb(5, 139, 95);
    
}


a {
    text-decoration: none;
    color: rgb(18, 66, 29);
}

/*estilização de botão enviar da pagina contato*/
.botaoenviar{
    font-size: 1.2em;
    background-color: rgb(149, 253, 210);
    border: 0;
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    
}

input, button, textarea {
    border-radius: 5px;
    border-color: rgb(99, 187, 172);
    text-align: center;
    
    
    
}
